<div class="card card-login card-hidden" [ngClass]="{'card-hidden':!isShowForm}">
    <div class="card-body">
        <div class="row">
            <div class="col-12 text-center">
                <img src="assets/img/logo - copia.png" alt="asd" class="img-brand">
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-form">

                <div class="row" class="mt-4" style="overflow: hidden;">
                    <form class="form" [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()" autocomplete="off">
                        <mat-form-field class="pr-4 pl-4 has-label mt-1">
                            <mat-label>Email</mat-label>
                            <input matInput formControlName="username" placeholder="Email" type="username"
                                autocomplete="off">
                            <mat-error
                                *ngIf="loginFormControls['username'].hasError('username') && (loginFormControls['username'].dirty || loginFormControls['username'].touched)">
                                Por favor ingrese un username válido
                            </mat-error>
                            <mat-error
                                *ngIf="loginFormControls['username'].hasError('required') && (loginFormControls['username'].dirty || loginFormControls['username'].touched)">
                                Email or username is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field class="example-full-width pr-4 pl-4 mt-1">
                            <mat-label>Password</mat-label>
                            <mat-icon *ngIf="isShowPassword" (click)="turnOffPassword()" matSuffix>visibility</mat-icon>
                            <mat-icon *ngIf="!isShowPassword" (click)="turnOffPassword()"
                                matSuffix>visibility_off</mat-icon>
                            <input matInput formControlName="password" placeholder="Password" [attr.type]="passwordType"
                                autocomplete="off">
                            <mat-error
                                *ngIf="loginFormControls['password'].hasError('required') && (loginFormControls['password'].dirty || loginFormControls['password'].touched)">
                                Password is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                        <div class="row mr-4 ml-4 mt-1">
                            <button class="btn btn-info btn-login" type="submit"
                                [disabled]="!loginForm.valid">LogIn</button>
                        </div>
                    </form>

                </div>





            </div>
        </div>
    </div>
    <div class="card-footer justify-content-center">

    </div>
</div>