<div class="main-content">
    <div class="container-fluid">
        <form [formGroup]="registerUserForm" autocomplete="off" (ngSubmit)="onRegisterSubmit()">
            <div class="row">
                <div class="col-md-12 col-lg-6">
                    <div class="card ">
                        <div class="card-header card-header-rose card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons">perm_identity</i>
                            </div>
                            <h4 class="card-title">{{ formTitle }}</h4>
                        </div>
                        <div class="card-body">
                            <input formControlName="id" type="hidden">
                            <mat-form-field>
                                <mat-label>Full name</mat-label>
                                <input matInput formControlName="fullName" placeholder="* Full name" type="input" autocomplete="off" readonly>
                                <mat-error *ngIf="registerUserFormControls['fullName'].hasError('required') && (registerUserFormControls['fullName'].dirty || registerUserFormControls['fullName'].touched)">
                                    The "Full name" field is <strong>required</strong>
                                </mat-error>
                            </mat-form-field>
        
                            <mat-form-field>
                                <mat-label>Email</mat-label>
                                <input id="email" matInput formControlName="email" placeholder="* Email" type="input" readonly autocomplete="nope">
                                <mat-error *ngIf="registerUserFormControls['email'].hasError('required') && (registerUserFormControls['email'].dirty || registerUserFormControls['email'].touched)">
                                    The "Email" field is <strong>required</strong>
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>Password</mat-label>
                                <input matInput formControlName="password" placeholder="Password" type="password" autocomplete="off">
                                <mat-error *ngIf="registerUserFormControls['password'].hasError('required') && (registerUserFormControls['password'].dirty || registerUserFormControls['password'].touched)">
                                    Password is <strong>required</strong>
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>Confirm Password</mat-label>
                                <input matInput formControlName="confirmPassword" placeholder="Confirm Password" type="password" autocomplete="off">
                                <mat-error *ngIf="registerUserFormControls['confirmPassword'].hasError('required') && (registerUserFormControls['confirmPassword'].dirty || registerUserFormControls['confirmPassword'].touched)">
                                    Confirm password is <strong>required</strong>
                                </mat-error>
                                <mat-error *ngIf="registerUserFormControls['confirmPassword'].hasError('mustMatch')">
                                    Passwords must match
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="card-footer ">
                            <button (click)="goBack()" mat-raised-button type="button" class="btn btn-fill btn-default">Cancel</button>
        
                            <button mat-raised-button type="submit" [disabled]="!registerUserForm.valid" class="btn btn-fill btn-rose">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        
    </div>
</div>
