<div class="main-content">
    <div class="container-fluid">
        <form [formGroup]="registerUserForm" autocomplete="off" (ngSubmit)="onRegisterSubmit()">
            <div class="row">
                <div class="col-md-12 col-lg-6">
                    <div class="card">
                        <div class="card-header card-header-rose card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons">perm_identity</i>
                            </div>
                            <h4 class="card-title">{{ formTitle }}</h4>
                        </div>
                        <div class="card-body">
                            <input formControlName="id" placeholder="Identificador" type="hidden">
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field>
                                        <mat-label>Name</mat-label>
                                        <input matInput formControlName="name" placeholder="* Name" type="input" autocomplete="off">
                                        <mat-error *ngIf="registerUserFormControls['name'].hasError('required') && (registerUserFormControls['name'].dirty || registerUserFormControls['name'].touched)">
                                            The "name" field is <strong>required</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field>
                                        <mat-label>Last name</mat-label>
                                        <input id="lastName" matInput formControlName="lastName" placeholder="* Last name" type="input" autocomplete="nope">
                                        <mat-error *ngIf="registerUserFormControls['lastName'].hasError('required') && (registerUserFormControls['lastName'].dirty || registerUserFormControls['lastName'].touched)">
                                            The "lastName" field is <strong>required</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field>
                                        <mat-label>Email</mat-label>
                                        <input id="email" matInput formControlName="email" placeholder="* Email" type="input" autocomplete="nope">
                                        <mat-error *ngIf="registerUserFormControls['email'].hasError('required') && (registerUserFormControls['email'].dirty || registerUserFormControls['email'].touched)">
                                            The "email" field is <strong>required</strong>
                                        </mat-error>
                                        <mat-error *ngIf="registerUserFormControls['email'].hasError('email') && (registerUserFormControls['email'].dirty || registerUserFormControls['email'].touched)">
                                            Please enter a valid email
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field>
                                        <mat-label>Cellphone</mat-label>
                                        <input id="cellphone" matInput formControlName="cellphone" placeholder="* Cellphone" type="input" autocomplete="nope">
                                        <mat-error *ngIf="registerUserFormControls['cellphone'].hasError('required') && (registerUserFormControls['cellphone'].dirty || registerUserFormControls['cellphone'].touched)">
                                            The "cellphone" field is <strong>required</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field>
                                        <mat-label>Mailing Address</mat-label>
                                        <input id="mailingAdd" matInput formControlName="mailingAdd" placeholder="Mailing Address" type="input" autocomplete="nope">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field>
                                        <mat-label>Profile</mat-label>
                                        <input id="profileName" matInput formControlName="profileName" placeholder="Profile" type="input" autocomplete="nope" readonly>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field>
                                        <mat-label>Password</mat-label>
                                        <input matInput formControlName="password" placeholder="Password" type="password" autocomplete="off">
                                        <mat-error *ngIf="registerUserFormControls['password'].hasError('required') && (registerUserFormControls['password'].dirty || registerUserFormControls['password'].touched)">
                                            Password is <strong>required</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field>
                                        <mat-label>Confirm Password</mat-label>
                                        <input matInput formControlName="confirmPassword" placeholder="Confirm Password" type="password" autocomplete="off">
                                        <mat-error *ngIf="registerUserFormControls['confirmPassword'].hasError('required') && (registerUserFormControls['confirmPassword'].dirty || registerUserFormControls['confirmPassword'].touched)">
                                            Confirm password is <strong>required</strong>
                                        </mat-error>
                                        <mat-error *ngIf="registerUserFormControls['confirmPassword'].hasError('mustMatch')">
                                            Passwords must match
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer ">
                            <button (click)="goBack()" mat-raised-button type="button" class="btn btn-fill btn-default">
                                Cancel</button>
                            <button mat-raised-button type="submit" [disabled]="!registerUserForm.valid" class="btn btn-fill btn-rose">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
