
.login-page {
    background-size: cover; /* Cubre toda la área del elemento */
    background-repeat: no-repeat;
    background-position: center; /* Centra la imagen */
    background-image: url('../../../assets/img/back.jpg');
    height: 100vh; /* Establece la altura al 100% del viewport height */
}